body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}

h1 {
    text-align: center;
    color: #333;
}

h3 {
    text-align: center;
    color: #555;
}

marquee {
    background-color: #ddd;
    padding: 10px;
    margin-bottom: 20px;
}

img#img1 {
    display: block;
    margin: 0 auto;
    max-width: 50% !important;
    height: auto;
}




.btn1 {
    text-align: center;
}

a#btn1 {
    display: inline-block;
    padding: 10px 20px;
    background-color: green;
    color: #fff;
    text-decoration: none;
    border-radius: 20px;
    transition: background-color 0.3s ease-in-out;
}

a#btn1:hover {
    background-color: #2980b9;
}
